/*Importing the General Front Style to use*/
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&family=Lexend+Deca&display=swap');
/*Importing the General Front Style to use*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Styling the Body*/
body{
    background-color: hsl(0, 0%, 95%);
    font-size: 15px;
    font-family: 'Lexend Deca';
}
/*Styling the Body*/

/* Styles for Index.html Page -CSS Flex-*/
h3{
    font-size: xx-large;
    font-family: 'Big Shoulders Display';
}

.main-body{
    width: 70%;
    margin: auto;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.box-title{
    color: hsl(0, 0%, 95%);
    font-weight: bold;
}

.paragraphs{
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 20px;
}

.first-box{
    background-color: hsl(31, 77%, 52%);
    width: 100%;
    border-radius: 8px 0px 0px 8px;
    height: 70%;
    padding: 2em;
    display: flex;
    flex-direction: column;
}
.first-box img, h3, p, button{
    margin-bottom: 1rem;
}

.second-box{
    background-color: hsl(184, 100%, 22%);
    width: 100%;
    height: 70%;
    padding: 2em;
    display: flex;
    flex-direction: column;
}

.third-box{
    background-color: hsl(179, 100%, 13%);
    width: 100%;
    border-radius: 0px 8px 8px 0px;
    height: 70%;
    padding: 2em;
    display: flex;
    flex-direction: column;
}

.clck-buttons{
    background-color: hsl(0, 0%, 95%);
    border-radius: 20px;
    padding: 10px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 80%;
}
.clck-buttons:hover{
    background-color: transparent;
    cursor: pointer;
    font-weight: 500;
    color: hsl(0, 0%, 95%);
    transition: ease 0.5s;
    transition-timing-function: ease;
    border: 1px solid hsl(0, 0%, 95%);
}

.btn-1{color:hsl(31, 77%, 52%);}
.btn-2{color:hsl(184, 100%, 22%);}
.btn-3{color:hsl(179, 100%, 13%);}

.fb-1, .sb-1, .tb-1{height: 20%;}
.fb-2, .sb-2, .tb-2{height: 15%;}
.fb-3, .sb-3, .tb-3{height: 50%;}
.fb-4, .sb-4, .tb-4{height: 10%;}

.index-footer-btn{
    margin: -70px auto;
    width:200px;
}
.btn-grid{
    width: 100%;
    float: right;
    padding: 8px;
    border: none;
    border-radius: 8px;
    background-color: hsl(31, 77%, 52%);;
    cursor: pointer;
    color: white;
    font-weight: bold;
}
.btn-grid:hover{
    background-color: hsl(179, 100%, 13%);
    transition: ease 0.9s;
    transition-timing-function: ease;
}

@media screen and (max-width: 690px){
    .main-body{
        width: 80vw;
        margin: 10vw auto;
    }
}
@media screen and (max-width: 530px) {
    .main-body {
     flex-direction: column;
     width: 80vw;
     margin: 30% auto;
    }
    .first-box{
        border-radius: 8px 8px 0px 0px;
    }
    .third-box{
        border-radius: 0px 0px 8px 8px;
    }
    .btn-grid{
        margin: 30% auto;
    }
 }
@media screen and (max-width: 375px) {
    .main-body {
     flex-direction: column;
     width: 80%;
     margin: 30% auto;
    }
    .first-box{
        border-radius: 8px 8px 0px 0px;
    }
    .third-box{
        border-radius: 0px 0px 8px 8px;
    }
    .btn-grid{
        margin: 30% auto;
    }
 }
 @media screen and (max-width: 230px) {
    .main-body {
     flex-direction: column;
     width: 80%;
     margin: 30% auto;
    }
    .first-box{
        border-radius: 8px 8px 0px 0px;
    }
    .third-box{
        border-radius: 0px 0px 8px 8px;
    }
    .btn-grid{
        margin: 30% auto;
    }
 }
 /* Styles for Index.html Page -CSS Flex-*/


 /* Styles for Grid.html Page -CSS Grid-*/
 .grid-main{
    /* background-color: rgb(3, 6, 28); */
    background-color: hsl(0, 0%, 95%);
    display: flex;
    place-items: center;
    height: 100vh;
    padding: 30px;
 }

 .grid-main-body{
    background-color: rgb(8, 14, 54);
    box-shadow: 10px 10px 5px black;
    padding: 15px;
    border-radius: 8px;
    display: grid;
    grid-template-areas: 
    'a a a b'
    'a a a b'
    'c c d d'
    'c c e e';
    grid-gap: 10px;
    width: 40vw;
    height: 70vh;
    margin: auto;
 }
 .grid-main-body div{
    text-align: center;
    font-weight: bolder;
    font-size: xx-large;
    color: whitesmoke;
    padding: 40px;
    border-radius: 2px;
 }
 
 .item-a{
    background-color: orangered;
    grid-area: a;
 }

 .item-b{
    background-color: #ffc107;
    grid-area: b;   
}

.item-c{
    background-color: #198754;
    grid-area: c;    
}

.item-d{
    background-color: #0dcaf0;
    grid-area: d;    
}

.item-e{
    background-color: #0dcaf0;
    grid-area: e;    
}

.grid-footer-btn{
    position: fixed;
    bottom: 30px;
    right: 30px;
    width:200px;
}
.grid-btn-grid{
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 8px;
    background-color: #ffc107;
    cursor: pointer;
    color: white;
    font-weight: bold;
}
.grid-btn-grid:hover{
    background-color: #198754;
    transition: ease 0.9s;
    transition-timing-function: ease;
}

@media screen and (max-width: 600px) {
    .grid-main-body{
        grid-template-areas: 
        'a a a a'
        'b b b b'
        'c c c c'
        'd d d d'
        'e e e e';
        width: 90%;
        margin: auto;
    }
    .grid-footer-btn{
        position: fixed;
        bottom: 5px;
        right: 5px;
        width:200px;
    }
 }

 @media screen and (max-width: 550px) {
    .grid-main-body{
        grid-template-areas: 
        'a a a a'
        'b b b b'
        'c c c c'
        'd d d d'
        'e e e e';
        width: 90%;
        margin: auto;
    }
 }

@media screen and (max-width: 490px) {
    .grid-main-body{
        grid-template-areas: 
        'a a a a'
        'b b b b'
        'c c c c'
        'd d d d'
        'e e e e';
        width: 90%;
        margin: auto;
    }
 }
 /* Styles for Grid.html Page -CSS Grid-*/